@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Scrollbar color */
  border-radius: 20px; /* Scrollbar round edges */
  border: 2px solid #f1f1f1; /* Space around scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovering */
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; /* thumb color and track color */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: Medium;
  font-weight: 500; /* Medium */
  src: url('/assets/fonts/Inter_28pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: Bold;
  font-weight: 700; /* Bold */
  src: url('/assets/fonts/Inter_28pt-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: Normal;
  font-weight: 400; /* Regular */
  src: url('/assets/fonts/Domine-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: Bold;
  font-weight: 700; /* Regular */
  src: url('/assets/fonts/Domine-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Domine';
  font-style: Medium;
  font-weight: 500; /* Regular */
  src: url('/assets/fonts/Domine-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair';
  font-style: Medium;
  font-weight: 500; /* Regular */
  src: url('/assets/fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: Bold;
  font-weight: 600; /* Regular */
  src: url('/assets/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: Regular;
  font-weight: 300; /* Regular */
  src: url('/assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: Bold;
  font-weight: 600; /* Regular */
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
}
/* Active Bullet Color */
@swiper-pagination-bullet-active {
  background-color: VineoPink; /* Slightly darker shade of VineoPink */
}
* {
  font-family: 'Domine', 'Inter', 'Lato';
}
